@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

        
        .interh {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        }
        .interp {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 350;
        font-style: normal;
        }
        
        .urbanisth {
        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        font-weight:700;
        font-style: normal;
        }
        .urbanistp {
        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        font-weight:550;
        font-style: normal;
        }
        body {
            background-color: #E5E5EE;
        }
        .content{
            margin-top: 10vh;
        }
        /* Frosted Glass Effect for Navbar */
        .navbar-blur {
            background: rgba(255, 255, 255, 0.1); /* Slight transparency */
            backdrop-filter: blur(15px); /* The actual blur effect */
            -webkit-backdrop-filter: blur(15px); /* For Safari */
            position: fixed; /* Keeps navbar at top */
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1000; /* Makes sure it’s above content */
            padding: 10px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        ::selection {
            color: white;
            background: #6C63FF;
        }
        a{
            text-decoration: none;
        }
        a:link {
        color: black;  /* Unvisited link color */
        }

        a:visited {
        color: black; /* Visited link color */
        }
        
        .col-lg-3 {
            padding: 3%;
        }

        .col-lg-3 li,.col-lg-3 li a {
            padding: 2%;
            color: #4A5568;
        }